<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0"><assemblies><add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" /></assemblies></compilation>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="CinguettioDataService.CinguettioDataService" behaviorConfiguration="CinguettioDataService.CinguettioDataService_BehaviorConfiguration">
        <endpoint binding="webHttpBinding" contract="CinguettioDataService.ICinguettioDataService"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="CinguettioDataService.CinguettioDataService_BehaviorConfiguration" >
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  
  <connectionStrings>
    <!--<add name="CinguettioDBEntities" connectionString="metadata=res://*/Data.CinguettioDataModel.csdl|res://*/Data.CinguettioDataModel.ssdl|res://*/Data.CinguettioDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=CinguettioDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="CinguettioDBEntities" connectionString="metadata=res://*/Data.CinguettioDataModel.csdl|res://*/Data.CinguettioDataModel.ssdl|res://*/Data.CinguettioDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=3778c5ac-0ca7-42e5-9f66-a13201567df9.sqlserver.sequelizer.com;Database=db3778c5ac0ca742e59f66a13201567df9;User ID=duwwlzyswawmbfcs;Password=5A36i2VpPvZf2fmfr7jHWKUu67SBRcHYkBwTrc4pcKmgeZZVWVmecE5tNF8jhtFM;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>




<!--<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0"><assemblies><add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" /></assemblies>
      
    </compilation>
    <authentication mode="None"></authentication>
  </system.web>
  <system.serviceModel>
    <standardEndpoints>
      <webScriptEndpoint>
        <standardEndpoint crossDomainScriptAccessEnabled="true" />
      </webScriptEndpoint>
</standardEndpoints>

<serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
</system.serviceModel>
<system.webServer>
  <modules runAllManagedModulesForAllRequests="true" />
</system.webServer>

<connectionStrings>
  <add name="CinguettioDBEntities" connectionString="metadata=res://*/Data.CinguettioDataModel.csdl|res://*/Data.CinguettioDataModel.ssdl|res://*/Data.CinguettioDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=CinguettioDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
</configuration>
-->